
01-16-12.txt
amix-vimrc-5731b3a/
apache/
.bash_history
.bash_logout
.bashrc
bfs*.bin
bin/
.cache/
CoffeeScript
Colors
.config/
.dbus/
develop/
django/
django_dev/
django.log
.dmrc
Editing
examples.desktop
.fontconfig/
ftp/
.gconf/
General
.gitaliases
.gksu.lock
.gnome2/
.gtk-bookmarks
Helper
home.tar
.ICEauthority
id_dsa.pub
JavaScript
.lesshst
License.txt
Load
.local/
.macromedia/
minicom.log
.mission-control/
Moving
.mozilla/
.mplayer
.mplayer/
.muttrcbck
.mysql_history
nohup.out
.pip
.pip/
pkgs.out
.profile
.pulse/
.pulse-cookie
.pylint.d/
save/
.selected_editor
sent
Spell
.ssh
static/
temp/
.vim_runtime/temp_dirs/undodir*
test
t.out
t.sh
.viminfo
.vim_mru_files
.Xauthority
.xsession-errors
.xsession-errors.old
