    
apache/
.bash_history
.bash_logout
.bashrc
bin/
.cache/
.config/
.dbus/
dev/
develop/
django/
django_dev/
django.log
.dmrc
.fontconfig/
fontconfig/
foo/
ftp/
.gconf/
.gitaliases
.gksu.lock
.gnome2/
google-drive/
.goutputstream*
.gtk-bookmarks
.ICEauthority
.lesshst
.local/
mackall_house/
.macromedia/
.mission-control/
.mozilla/
.mplayer/
.muttrcbck
.mysql_history
.pip/
pistore.desktop
.profile
.pulse/
.pulse-cookie
.pylint.d/
.selected_editor
sent
.ssh/
t
temp/
.viminfo
.vim_mru_files
.vim_runtime/temp_dirs/
.virtualenvs/
.Xauthority
.xsession-errors
.xsession-errors.old
