    
apache/
aws.pem
.bash_history
.bash_logout
bin/
.cache/
.compiz/
.config/
.dbus/
Desktop/
dev/
develop/
django/
django_dev/
django.log
.dmrc
.erlang.cookie
.fontconfig/
fontconfig/
foo/
ftp/
.gconf/
.gdfuse/
.gksu.lock
.gnome2/
.gnupg/
go/
google-drive/
.goutputstream*
.grive
.gtk-bookmarks
.ICEauthority
.lesshst
lnx-core.sls
.local/
mackall_house/
.macromedia/
.mission-control/
.mozilla/
.mplayer/
.muttrcbck
.mysql_history
.neocomplcache/
.pip/
pistore.desktop
.pki
.pulse/
.pulse-cookie
.pylint.d/
relay.cgi
.selected_editor
sent
.ssh/auth*
.ssh/id_*
.ssh/known*
t
tasks.py
temp/
t.out
views.py
.vimbackup/
vim.tar
.vimundo/
.virtualenvs/
.wemo/
wstest/
.Xauthority
.xsession-errors
.xsession-errors.old
